.App {
  margin: 30px;
}

.text{
  margin-bottom: 30px;
}

.divtb{
  display: block;
  width: 600px;
  border-radius: 20px;
}

.tabela{
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
}
 
table{
  border-radius: 20px;
}

tbody{
  background-color: rgb(255, 255, 255);
}

td{
  text-align: center;
}

.cabeca{
  background-color: rgba(245, 245, 220, 0.664);
}